{% extends 'base.html.twig' %}

{% block title %}Hello CountryController!{% endblock %}

{% block body %}
    <div class="row">
        {% if beers %}
            {% for beer in beers %}
                <div class="col-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="beer-name">
                                    {{ beer.name }}
                                </a>
                            </h5>
                            {% if beer.publishedAt is defined %}
                                <p>Date de création : {{ beer.publishedAt | date('d-m-Y h:m:s')}}</p>
                            {% endif %}
                            {% if beer.price is defined  %}
                                <p>Price : {{ beer.price }} &euro;</p>
                            {% endif %}
                            <p>{{ beer.description ?? 'no description' }}</p>
                        </div>
                        <img src="{{ asset('build/images/beer.jpg') }}" width="auto" height="auto" alt="beer"/>
                        <div class="card-body">
                            {% include 'partials/meta.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune bière</p>
        {% endif %}
    </div>
{% endblock %}
