{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <div class="row">
        {% if clients %}
            {% for client in clients %}
                <div class="col-6">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('client_show', {'id': client.id}) }}">
                                    {{ client.name }}
                                </a>
                            </h5>
                            {% if client.email is defined %}
                                <p>Email : {{ client.email }}</p>
                            {% endif %}
                            {% if client.weight is defined  %}
                                <p>Âge : {{ client.weight }} &euro;</p>
                            {% endif %}
                            <p>{{ client.number_beer ?? 'pas de nombre de bière' }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun client</p>
        {% endif %}
    </div>
{% endblock %}
