{% extends 'base.html.twig' %}

{% block title %}Hello Client{% endblock %}

{% block body %}
    <div class="row">
        {% if clients %}
            {% for client in clients %}
                <div class="col-6">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('client_show', {'id': client.id}) }}">
                                    {{ client.name }}
                                </a>
                            </h5>
                            {% if client.email is defined %}
                                <p>Email : {{ client.email }}</p>
                            {% endif %}
                            {% if client.age is defined  %}
                                <p>Age : {{ client.age }} ans</p>
                            {% endif %}
                            {% if client.weight is defined  %}
                                <p>Poids : {{ client.weight }} kg</p>
                            {% endif %}
                            {% if client.numberBeer is not null  %}
                                <p>Nombre de bière : {{ client.numberBeer }}</p>
                            {% else %}
                                <p>Pas de nombre de bière</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun client</p>
        {% endif %}
    </div>
{% endblock %}
